#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ITEM Styles */
.item__container{
  border-bottom: 1px solid rgba(128, 128, 128, .3);
  display: flex;
  justify-items: start;
  align-items:center;
  padding: 0.5rem 0;

  img{
    aspect-ratio: 1/1;
    border-radius: 20%;
    object-fit: cover;
    height: 3rem;
  }
  span{
    margin-left: 0.6rem;
    margin-right: auto;
    
  }
  
}
.item__container :nth-child(3){
  margin-right: 1rem;
  font-size: 1.2rem;

}
.item__container:hover{
  background-color: #2c2b2b;
  /* transition: all 0.2s ease-in-out; */
}
.link-item{
  color:inherit;
}
.link-item:hover{
    color: rgb(255, 254, 254);
}

/* TOGGLE Button */
.button__container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.7rem;
}
.switch {
  width: 60px;
  height: 30px;
  background-color: #4c4b4b;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.switch.active {
  background-color: #55e255;
  transition: all 0.5s ease-in-out;
}

.switch-handle {
  width: 25px;
  height: 25px;
  background-color: rgb(2, 149, 63);
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  transition: all 0.3s ease-in-out;
}

.switch.active .switch-handle {
  left: calc(100% - 27.5px);
}

/* IteamDetails */

.item-details__container{
  display: flex;
  flex-flow: column;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  background-color: #302f2f;
  border-radius: 0.7rem;
  padding: 0 1rem;
}
.item-details__container header h1{
  text-align: center;
  margin-bottom: 2rem;
}

.item-details__container figcaption {
  text-align: center;
  font-size: clamp(0.5rem, 2.5vw, 0.8rem);
  color: #7f7e7e;
}
.item-details__container figure {
  margin:0
}

.item-details__container img {
  width: 100%;
  height: auto;
  border-radius:0.7rem;
}


.item-details__container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.item-details__container button:hover {
  background-color: #0056b3;
}
.item-details__subsection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size:smaller;
  background-color: #212121;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.item-description__section{
  text-align:start;
  color: rgb(214, 212, 212);
  overflow-wrap:break-word;
  hyphens:auto;
  margin-bottom: 1.5rem;
}
/* @media (prefers-reduced-motion: no-preference) {
 
} */

